@media screen and (min-width: 1200px) {
  .navbar {
    display: block;
  }
}
.navbar {
  background: #fff;
  border: none !important;
  border-bottom: 1px solid #e9eaec !important;
  border-radius: inherit !important;
  font-family: Inter, sans-serif;
  margin-bottom: 0 !important;
  position: sticky !important;
  top: 0;
  z-index: 5;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.px-30 {
  padding: 0 24px !important;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar a {
  background: 0 0 !important;
}
.navbar-brand {
  display: block;
  height: auto !important;
  /* margin-left: auto !important; */
  padding: 0 20px 0 0 !important;
}
:active,
:focus,
:focus-visible,
:focus-within,
:target,
:visited {
  outline-color: none !important;
  outline: none !important;
}
a {
  color: #337ab7;
  text-decoration: none;
}
.navbar-brand img {
  height: 70px !important;
  margin-top: 0;
}
.navbar-brand > img {
  display: block;
}
img {
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
  border: 0;
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.navbar li {
  font-family: Inter, sans-serif;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.nav > li {
  position: relative;
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
.navbar .navbar-nav.navbar-left > li.active > a {
  color: #00b14f;
}
.navbar .navbar-nav.navbar-left > li > a {
  color: #212f3f;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.235px;
  line-height: 20px;
  margin: 14px 5px;
  padding: 12px 15px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar a {
  background: 0 0 !important;
}
.navbar li {
  font-family: Inter, sans-serif;
}
li {
  text-align: -webkit-match-parent;
}
.navbar__item__dropdown-menu {
  -webkit-animation: fadein 0.4s;
  animation: fadein 0.4s;
  border-radius: 10px;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.06);
  display: block;
  height: auto;
  margin-top: -9px;
  opacity: 0;
  overflow: hidden;
  perspective: 1000px;
  position: absolute;
  top: 100%;
  z-index: 2;
}
.navbar__item__dropdown-menu .navbar-menu {
  background: #fff;
  display: block;
  margin: 0;
  max-height: 88vh;
  overflow: auto;
  padding: 16px;
}
.navbar__item__dropdown-menu .navbar-menu__item:first-child {
  margin-top: 0;
}
.navbar__item__dropdown-menu .navbar-menu__item {
  background: #f4f5f5;
  border-radius: 6px;
  margin: 8px 0;
  min-width: 368px;
  position: relative;
}
.nav > li {
  position: relative;
  display: block;
}
.tag-border {
  margin-bottom: 24px !important;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
.navbar-right {
  margin-right: 0 !important;
}
@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 62px;
}
.navbar-right__item.icon {
  background: rgba(0, 177, 79, 0.102);
  border-radius: 50%;
  margin: 15px 5px;
}
.dropdown.notification {
  font-weight: 400;
}
.navbar li {
  font-family: Inter, sans-serif;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-right__item {
  font-size: 14px;
}
.dropdown,
.dropup {
  position: relative;
}
.navbar-right__item.icon {
  background: rgba(0, 177, 79, 0.102);
  border-radius: 50%;
  margin: 15px 5px;
}
.dropdown.notification {
  font-weight: 400;
}
.navbar li {
  font-family: Inter, sans-serif;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.nav > li {
  position: relative;
  display: block;
}
[v-cloak] {
  display: none !important;
}
.navbar-right__item {
  font-size: 14px;
}
.navbar-right__item.icon > a {
  color: #00b14f;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 40px;
}
.nav .dropdown .noti-icon {
  font-size: 20px;
}
.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}
.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Pro");
  font-weight: var(--fa-style, 900);
}
.notification-count {
  background: #d95350;
  width: 20px;
  height: 20px;
  font-size: 11px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  text-align: CENTER;
  position: absolute;
  top: calc(50% - 13px);
  right: -6px;
  transform: translateY(-50%);
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav-notification .navbar__item__dropdown-menu {
  border-radius: 0;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.05);
}
.navbar-right__item .group-hover\:menu {
  right: 0;
}
.dropdown.notification {
  font-weight: 400;
}
.navbar li {
  font-family: Inter, sans-serif;
}
.navbar-right__item {
  font-size: 14px;
}
li {
  text-align: -webkit-match-parent;
}
.navbar__item__dropdown-menu .navbar-menu {
  background: #fff;
  display: block;
  margin: 0;
  max-height: 88vh;
  overflow: auto;
  padding: 16px;
}
.dropdown.notification {
  font-weight: 400;
}
.navbar li {
  font-family: Inter, sans-serif;
}
.navbar-right__item {
  font-size: 14px;
}
li {
  text-align: -webkit-match-parent;
}
[hidden],
template {
  display: none;
}
.dropdown.notification {
  font-weight: 400;
}
.navbar li {
  font-family: Inter, sans-serif;
}
.navbar-right__item {
  font-size: 14px;
}
li {
  text-align: -webkit-match-parent;
}
.navbar-right__item.icon {
  background: rgba(0, 177, 79, 0.102);
  border-radius: 50%;
  margin: 15px 5px;
}
.navbar li {
  font-family: Inter, sans-serif;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-right__item {
  font-size: 14px;
}
.navbar-right__item.icon > a {
  color: #00b14f;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 40px;
}
.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}
.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Pro");
  font-weight: var(--fa-style, 900);
}
.navbar li {
  font-family: Inter, sans-serif;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}
.nav > li {
  position: relative;
  display: block;
}
.navbar-right__item {
  font-size: 14px;
}
.navbar-right__item > .title {
  background: #fafafa;
  border-radius: 20px;
  margin: 13px 0 17px 5px;
  padding-right: 22px;
}
.navbar li {
  font-family: Inter, sans-serif;
}
.navbar-right__item {
  font-size: 14px;
}
li {
  text-align: -webkit-match-parent;
}
.navbar-right__item > .title > a {
  color: #212f3f;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
}
.navbar a {
  background: 0 0 !important;
}
.navbar-right__item > .title > a > img {
  border-radius: 50%;
  height: 32px;
  margin: 5px 10px 5px 0;
  max-width: 100%;
  vertical-align: middle;
  width: 32px;
}
img {
  border: 0;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
.fa-bell:before {
  content: "🔔";
}
.fa-comments-alt:before,
.fa-messages:before {
  content: "\f4b6";
}
.navbar-right__item > .title:hover:after {
  transform: translate(-50%, -50%) rotateX(180deg);
}
.navbar-right__item > .title:after {
  color: #00b14f;
  content: "⌄";
  display: block;
  font-family: Font Awesome\6 Pro;
  position: absolute;
  right: 7px;
  top: 46%;
  transform: translate(-50%, -50%);
  transition: 0.7s ease-in-out;
}
.nav.navbar-nav.navbar-left {
  margin-top: 11px;
}
.nav.navbar-nav.navbar-right {
  margin-top: 11px;
}
.navbar-right__item.group {
  position: relative;
  bottom: 5px;
}
@media screen and (min-width: 1200px) {
  #section-header {
    padding-bottom: 24px;
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  #section-header {
    padding: 40px 0 24px;
  }
}
#section-header {
  background: linear-gradient(0deg, #fff, #e4fff0);
  font-family: Inter, sans-serif;
  padding: 20px 0;
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  #section-header .header-box {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .header-box .title {
    color: #009643;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  #section-header .header-box .description {
    color: #263a4d;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    line-height: 16px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #section-header .header-box .description {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .header-box .description .number-hight-light {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.175px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job {
    display: flex;
    gap: 20px;
    height: 56px;
  }
}
#frm-search-job {
  margin-bottom: 16px;
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 1200px) {
  #frm-search-job .group-search {
    margin-bottom: 0;
    width: 524px;
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job .group-search {
    margin-bottom: 0;
    width: 524px;
  }
}
@media screen and (min-width: 768px) {
  #frm-search-job .group-search {
    border-radius: 6px;
    flex-direction: row;
    gap: 0;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job .group-search .item.item-search {
    height: 56px;
    width: 253px;
  }
}
#frm-search-job .group-search .item.item-search i {
  align-items: center;
  color: #7f878f;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
}
#frm-search-job .item .icon {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #frm-search-job .group-search .item.item-search input {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  }
}
#frm-search-job .group-search .item.item-search input {
  border: none;
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 19px 19px 19px 52px;
  width: 100%;
}
.fa-magnifying-glass:before,
.fa-search:before {
  content: "🔍";
}
@media screen and (min-width: 768px) {
  #frm-search-job .group-search .item.item-search input {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  }
}
#frm-search-job .group-search .item.item-search input {
  border: none;
  border-radius: 6px !important;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 19px 19px 19px 52px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  #frm-search-job .group-search .item.search-city {
    height: 56px;
    width: 241px;
  }
}
@media screen and (min-width: 768px) {
  #frm-search-job .group-search .search-city:before {
    background: #dee0e2;
    border-radius: 100px;
    content: "";
    display: block;
    height: 32px;
    left: -1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
  }
}
#frm-search-job .item .icon {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: 1;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}
@media screen and (min-width: 768px) {
  #frm-search-job .item select,
  #frm-search-job .select2-selection--single {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  }
}
option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}
#frm-search-job .item select {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff 0 0 no-repeat padding-box;
  border: none;
  border-radius: 6px !important;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.06);
  color: #172530;
  display: flex !important;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 20px;
  padding: 10px 19px 10px 52px;
  text-indent: 1px;
  text-overflow: "";
}
@media screen and (min-width: 1200px) {
  #frm-search-job .select2-container {
    height: 56px !important;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job .select2-container {
    height: 56px !important;
    width: 100%;
  }
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
@media screen and (min-width: 1200px) {
  #frm-search-job .select2-selection--single {
    width: 100%;
  }
}
#frm-search-job .select2-selection__rendered {
  color: #172530;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 0;
}
#frm-search-job .select2-selection__arrow {
  height: 100% !important;
  width: 45px;
}
@media screen and (min-width: 1200px) {
  #frm-search-job .group {
    gap: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job .item {
    width: 233px;
  }
}
#frm-search-job .item .icon {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: 1;
}
#frm-search-job .item .icon i {
  color: #6f7882;
  font-size: 22px;
}
.fa-circle-star:before,
.fa-star-circle:before {
  content: "\e123";
}
@media screen and (min-width: 768px) {
  #frm-search-job .item select,
  #frm-search-job .select2-selection--single {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  }
}
@media screen and (min-width: 1200px) {
  #frm-search-job .btn-search-job {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 0;
    min-width: 120px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .box-work-market {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .box-work-market__item {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    padding: 4px 8px;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .box-work-market__item .item-label {
    color: #263a4d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .box-work-market__item .item-number.number-job-new-today {
    color: #00b14f;
  }
}
span.quantity.item-number.number-job-new-today {
  font-size: 18px !important;
}
span.time-scan.item-number.number-job-new-today {
  font-size: 18px !important;
}
.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
@media screen and (min-width: 1460px) {
  #section-header .img-robot {
    height: 140.71px;
    right: 43.14px;
    top: 14px;
    width: 111.86px;
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .img-bg-left {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .img-bg-right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .img-bg-left-tablet,
  #section-header .img-bg-right-tablet {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #section-header .img-bg-left-tablet,
  #section-header .img-bg-right-tablet {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company {
    padding: 16px 0 0;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 768px) {
  #section-banner-vip-company .slick-banners {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-prev {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    display: block;
    height: 40px;
    left: -20px;
    overflow: hidden;
    top: 50%;
    transition: 0.3s;
    width: 40px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-arrow {
    display: block !important;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-list {
    outline: 1px solid #ebebeb;
  }
}

@media screen and (min-width: 768px) {
  #section-banner-vip-company .slick-banners .slick-list {
    border-radius: 10px;
  }
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-initialized .slick-slide {
  display: block;
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-next {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    display: block;
    height: 40px;
    overflow: hidden;
    right: -20px;
    top: 50%;
    transition: 0.3s;
    width: 40px;
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-arrow {
    display: block !important;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-dots {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  #section-banner-vip-company .slick-banners .slick-dots {
    margin-top: -12px;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-dots {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  #section-banner-vip-company .slick-banners .slick-dots {
    margin-top: -12px;
  }
}
.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}
#frm-search-job
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b:after {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTgnIGhlaWdodD0nMTEnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTE2LjkyIDEuOTUgMTAuNCA4LjQ3Yy0uNzcuNzctMi4wMy43Ny0yLjggMEwxLjA4IDEuOTUnIHN0cm9rZT0nIzAwQjE0Ricgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  right: -10px;
  top: -5px;
  width: 18px;
}
#frm-search-job .btn-search-job:hover {
  background: #009643;
}
#frm-search-job .btn-search-job {
  background: #00b14f;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0px;
  padding-bottom: 16px;
  padding-top: 11px;
  transition: 0.3s;
  width: 100%;
  border-color: #00b14f;
  /* margin-left: 11px; */
}
#frm-search-job .group-search {
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners img {
    height: 234px;
    width: 100%
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-prev:before {
    color: #00b14f;
    font-family: Font Awesome\6 Pro;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-next:hover:before {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-next:before {
    color: #00b14f;
    font-family: Font Awesome\6 Pro;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-prev:hover {
    background: #00b14f;
    cursor: pointer;
  }
  .arrow-prev:hover {
    color: white;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  #section-banner-vip-company .slick-banners .slick-next:hover {
    background: #00b14f;
    cursor: pointer;
  }
  .arrow-next:hover {
    color: white;
    cursor: pointer;
  }
}
.banner-1 {
  margin: 0;
  height: "160px";
  color: "#fff";
  line-height: "160px";
  text-align: "center";
  background: "#364d79";
}
:where(.css-dev-only-do-not-override-1r287do).ant-carousel .slick-next::after {
  transform: rotate(136deg);
  align-items: center;
  margin-top: 11px;
  margin-left: 9px;
}
:where(.css-dev-only-do-not-override-1r287do).ant-carousel .slick-prev::after {
  transform: rotate(-45deg);
  align-items: center;
  margin-top: 11px;
  margin-left: 13px;
}
.calculator {
  color: #00b14f;
  font-size: 14px;
  font-weight: 900;
  margin-right: 6px;
  margin-top: 3px;
}
li.ant-menu-item {
  background-color: hsla(0, 3%, 94%, 0.722) !important;
}
li.ant-menu-item:hover {
  color: #00b14f;
}
.box-noti {
  width: 320px;
  height: 316px;
  overflow-y: auto;
  overflow-x: hidden;
}
.noti-item {
  border-bottom: 1px solid #f4f5f5;
  padding: 16px;
  border-top: 1px solid #dddcdc;
}
.notification-item-sub {
  margin-top: 3px;
  color: #555;
}
.notification-item-time {
  color: #646d79;
  font-size: 12px;
  font-style: normal !important;
  font-weight: 400;
  line-height: 16px;
  margin-top: 15px;
}
.notification-item:hover .notification-item-title {
  color: #00b14f;
}
.notification-item-text {
  margin-bottom: 10px;
}
.group-search .item {
  width: 100%;
  margin-bottom: 10px;
}
.navbar-right .dropdown-menu__info {
  display: flex;
  padding: 0 7px;
  position: relative;
}

.tag-border {
  margin-bottom: 24px !important;
}
.navbar-right .dropdown-menu__info .caption {
  padding-bottom: 6px;
}
.navbar-right .dropdown-menu__info .caption .name {
  color: #00b14f;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.navbar-right .dropdown-menu__info .caption .description {
  color: #6f7882;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.navbar-right .dropdown-menu__info .caption > p {
  margin-bottom: 4px;
}
.navbar-right .dropdown-menu__info .caption .description .code {
  color: #212f3f;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.navbar-right .dropdown-menu__info .caption .description {
  color: #6f7882;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
li.navbar-right__item.group {
  margin-top: 16px;
  margin-left: 6px;
  background-color: #f3f2f2;
  border-radius: 10px;
}
.item-profile {
  background-color: hsla(0, 3%, 94%, 0.722) !important;
  display: flex;
  margin: 2px 3px 5px 6px;
  font-size: 15px;
  height: 34px;
  align-items: center;
}
.name-profile {
  margin-left: 13px;
}

.desktop-menu {
    display: block;
}
@media screen and (max-width: 600px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-menu {
    display: block !important;
    /* visibility: visible; */
  }
}
@media screen and (max-width: 1200px) {
    i.fa-light.fa-magnifying-glass.icon {
    margin-top: -102px;
  }

}

.mobile-menu {
  display: none;
  float: right;
}
.menu-icon {
  background-color: #e5f7ed;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  /* margin-right: -12px; */
}
.icon-mobile {
  color: rgb(0, 177, 79);
  margin-left: 0px;
  width: 40px;
  height: 26px;
  margin-top: 7px;
}
.collapes-menu {
  width: 100%;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}
.nav-left {
    display: flex;
    align-items: center;
}