@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html

* {
    font-family:"Inter", sans-serif;
    padding: 0;
    margin: 0;
}
/* .container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
} */

@media screen and (max-width: 600px) {
    .navbar-brand img {
        height: 50px !important;
        margin-top: 0;
    }

    .navbar-header {
        justify-content: unset;
    }

    #section-header .header-box .title  {
        color: #009643;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
    }
    #section-header .header-box .description {
        color: #263a4d;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: .12px;
        line-height: 16px;
        text-align: center;
    }

    .img-responsive1 {
        display: none
    }

    .hotline__tab .nav__item a {
        width: unset !important;
        font-size: 13px;
    }
    .hotline-image {
        margin-left: 0;
        width: 100%
    }

    .box-panel {
        width: unset !important;
    }

    #footer-desktop .footer-main .footer-info .name-company {
        font-size: 18px;
    }
    
    #footer-desktop .footer-main .footer-info .box-tax-code .item span {
        font-size: 13px;
    }

    #footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item {
        width: 100%;
    }

    section#flash-badge-banner .block-intro {
        position: unset !important;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;
        width: 100%;
    }

    section#flash-badge-banner .block-content .box-countdown-update-title {
        text-align: center;
    }

    section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock {
        justify-content: center;
    }

    section#flash-badge-banner .block-job #sliderNewFlashJobPublish {
        margin-top: 9px;
        max-width: unset;
    }
}