#footer-desktop {
    background: #f5f5f5;
    border-top: none !important;
    font-family: Inter, sans-serif;
    line-height: unset;
    position: relative;
    z-index: 3;
    margin-top: 30px;
}
#footer-desktop .footer-common-search-keywords {
    background-color: #f4f5f5;
    padding-bottom: 40px;
    padding-top: 40px;
}
#footer-desktop .footer-common-search-keywords .keyword-seo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
#footer-desktop .footer-common-search-keywords .keyword-seo a {
    color: #212f3f;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 15px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.footer-main{
    background-color: white;
}
#footer-desktop .footer-main .box-main {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
#footer-desktop .footer-main .img-logo-footer {
    margin-bottom: 16px;
    width: 327px;
}

#footer-desktop img {
    -o-object-fit: contain;
    object-fit: contain;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
#footer-desktop .footer-main .box-image-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
#footer-desktop .footer-main .box-image-flex img {
    width: unset;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
#footer-desktop .footer-main .box-image-flex .dmca-image {
    width: 40px;
}
#footer-desktop .footer-main .box-image-flex .bct-image {
    width: 95px;
}
#footer-desktop .footer-main .box-contact {
    margin-bottom: 28px;
}
#footer-desktop .footer-main .box-contact .title {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

p {
    margin: 0 0 10px;
}
#footer-desktop .footer-main .box-contact span {
    color: #6f7882;
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
}
#footer-desktop .footer-main .box-contact a {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
}
#footer-desktop .footer-main .box-download {
    margin-bottom: 40px;
}
#footer-desktop .footer-main .box-download .title {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer-desktop .footer-main .box-download .btn-download-app {
    display: flex;
    gap: 12px;
}
#footer-desktop .footer-main .box-download .btn-download-app img {
    width: 150px;
}
#footer-desktop .footer-main .box-social .title {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer-desktop .footer-main .box-social .btn-list-social {
    display: flex;
    gap: 12px;
}
#footer-desktop .footer-main .box-menu-item {
    margin-bottom: 28px;
}
#footer-desktop .footer-main .box-menu-item .title {
    color: #212f3f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
#footer-desktop .footer-main .box-menu-item .box-menu-child a {
    color: #4d5965;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
#footer-desktop .footer-main .box-menu-item:last-child {
    margin-bottom: 0;
}
#footer-desktop .footer-main .box-menu-item .box-menu-child a:last-child {
    margin-bottom: 0;
}
#footer-desktop .footer-main .footer-info {
    border-top: 1px solid #e9e4e4;
    color: #000;
    margin-top: 40px;
    padding-top: 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#footer-desktop .col-lg-1, #footer-desktop .col-lg-10, #footer-desktop .col-lg-11, #footer-desktop .col-lg-12, #footer-desktop .col-lg-2, #footer-desktop .col-lg-3, #footer-desktop .col-lg-4, #footer-desktop .col-lg-5, #footer-desktop .col-lg-6, #footer-desktop .col-lg-7, #footer-desktop .col-lg-8, #footer-desktop .col-lg-9, #footer-desktop .col-md-1, #footer-desktop .col-md-10, #footer-desktop .col-md-11, #footer-desktop .col-md-12, #footer-desktop .col-md-2, #footer-desktop .col-md-3, #footer-desktop .col-md-4, #footer-desktop .col-md-5, #footer-desktop .col-md-6, #footer-desktop .col-md-7, #footer-desktop .col-md-8, #footer-desktop .col-md-9, #footer-desktop .col-sm-1, #footer-desktop .col-sm-10, #footer-desktop .col-sm-11, #footer-desktop .col-sm-12, #footer-desktop .col-sm-2, #footer-desktop .col-sm-3, #footer-desktop .col-sm-4, #footer-desktop .col-sm-5, #footer-desktop .col-sm-6, #footer-desktop .col-sm-7, #footer-desktop .col-sm-8, #footer-desktop .col-sm-9, #footer-desktop .col-xs-1, #footer-desktop .col-xs-10, #footer-desktop .col-xs-11, #footer-desktop .col-xs-12, #footer-desktop .col-xs-2, #footer-desktop .col-xs-3, #footer-desktop .col-xs-4, #footer-desktop .col-xs-5, #footer-desktop .col-xs-6, #footer-desktop .col-xs-7, #footer-desktop .col-xs-8, #footer-desktop .col-xs-9 {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .col-md-10 {
        width: 83.33333333%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
#footer-desktop .footer-main .footer-info .name-company {
    color: #212f3f;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 0;
}
#footer-desktop .footer-main .footer-info .box-tax-code .group-top {
    display: flex;
    flex-wrap: wrap;
}
#footer-desktop .footer-main .footer-info .box-tax-code .group-top .item:first-child {
    margin-right: 25px;
}

#footer-desktop .footer-main .footer-info .box-tax-code .item {
    align-items: flex-start;
    display: flex;
    margin-bottom: 8px;
    flex-wrap: wrap
}

#footer-desktop .footer-main .footer-info .box-tax-code .item span {
    color: #4d5965;
    font-size: 14px;
    font-weight: 300;
    margin-right: 8px;
}
#footer-desktop .footer-main .footer-info .box-tax-code .item strong {
    color: #212f3f;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 6px;
}
.calculator{
    color: #00b14f;
    font-size: 14px;
    font-weight: 900;
    margin-right: 6px;
    margin-top: 3px;
}
@media (min-width: 992px) {
    .col-md-2 {
        width: 16.66666667%;
    }
}
#footer-desktop .footer-main .footer-info .box-qr {
    padding-left: 30px;
    text-align: center;
}
#footer-desktop .footer-main .footer-info .box-qr img {
    display: block;
    width: 120px;
}
#footer-desktop .footer-main .footer-info .box-qr a {
    color: #00b14f;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
#footer-desktop .footer-main .footer-info .box-ecosystem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 20px;
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .title {
    color: #212f3f;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app {
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap:wrap;
    /* justify-content: space-between; */
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app a {
    text-decoration: none;
}

#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item {
    align-items: center;
    background: linear-gradient(90deg, #213142 .62%, #0a9c4b 99.38%);
    border-radius: 8px;
    display: flex;
    gap: 13px;
    min-height: 72px;
    padding: 16px;
    width: 260px
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item .img-logo-ecosystem {
    width: 60px;
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 145%;
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item.bg-happytime {
    background: linear-gradient(90deg, #fd7222, #edab28);
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item.bg-testcenter {
    background: linear-gradient(90deg, #2a3a4d, #0e60d8);
}
#footer-desktop .footer-main .footer-info .box-ecosystem .list-ecosystem .box-image-app__item.bg-shiring {
    background: linear-gradient(90deg, #009941 .18%, #0bca5d);
}
@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }
}
#footer-desktop .footer-main .footer-info .copyright {
    color: #4d5965;
    font-size: 14px;
    font-weight: 300;
    line-height: 145%;
    margin-bottom: 0;
    text-align: center;
}
