
*{
    font-family:"Inter", sans-serif;
}
#list-feature-jobs {
    background: #f3f5f7 !important;
    imagfont-family:"Inter", sans-serif;
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
#list-feature-jobs #box-feature-jobs {
    padding: 12px 0;
    position: relative;
}

#list-feature-jobs .box_general {
    background: 0 0 !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
#list-feature-jobs .box_general .box-header {
    align-items: center;
    background: 0 0 !important;
    display: flex;
    justify-content: space-between;
    padding: 0 0 12px;
    flex-wrap: wrap;
}
#list-feature-jobs .box_general .box-header__wrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#list-feature-jobs .box_general .box-header__title {
    align-items: center;
    color: #00b14f;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    gap: 16px;
    line-height: 32px;
}
#list-feature-jobs #box-feature-jobs .box-title {
    font-weight: 700;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0;
    font-size: 27px;
}
#list-feature-jobs .box_general .box-header__tool {
    align-items: center;
    display: flex;
    gap: 11px;
}
#list-feature-jobs .box_general .box-header__tool .see-more a {
    color: #172530;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}
#list-feature-jobs .btn-slick-arrow {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 1px solid #00b14f;
    border-radius: 50%;
    color: #00b14f !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px;
}
#list-feature-jobs .btn-slick-arrow i {
    font-weight: 300;
}
.fa-light, .fa-solid, .fal, .fas {
    font-family: Font Awesome\ 6 Pro;
}
.arrow-prev {
    font-size: 20px !important;
}
.arrow-next {
    font-size: 20px !important;
}
#list-feature-jobs .btn-slick-arrow:hover{
    background-color: #00b14f !important;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter {
    max-width: 71%;
    min-width: 71%;
    padding: 0;
    margin-left: 77px;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location {
    align-items: center;
    display: flex;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .prev-location {
    color: #777;
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    width: 37px;
}
#list-feature-jobs .btn-slick-arrow i {
    font-weight: 300;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location {
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    scrollbar-width: none;
    transition: all .2s;
    white-space: nowrap;
    width: 100%;
    display: flex;
    margin: 4px;
    /* padding: 1px; */
    justify-content: space-between;
    align-items: center;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item.active, #list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item:hover {
    background: #00b14f !important;
    border: 1px solid #00b14f;
    color: #fff;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item.active, #list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item:hover {
    background: #e1e1e1;
    border: 1px solid #d1d1d1;
    color: #fff;
    border-radius: 15px;
    margin: 11px;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item{
    margin: 11px;
    font-size: 21px;
}
.box-smart-item{
    background: #e1e1e1;
    border: 1px solid #d1d1d1;
    color: black;
    border-radius: 15px;
    margin: 11px;
}
#list-feature-jobs .box_general .feature-jobs {
    margin-bottom: 0 !important;
}   
#list-feature-jobs #box-feature-jobs .slick-list {
    border-radius: 3px;
}
#list-feature-jobs .box_general .el-carousel-ctn[aria-hidden=true] {
    height: 0;
    visibility: hidden;
}
#list-feature-jobs .box_general .el-carousel-ctn {
    padding: 2px 0 0;
}
.slick-initialized .slick-slide {
    display: block;
}
#list-feature-jobs .box_general .feature-jobs .feature_job_item {
    margin: 0 auto;
    padding-bottom: 1px;
    width: 100%;
}
#list-feature-jobs #box-feature-jobs .feature-job:nth-child(3n+1) {
    padding: 0 10px 0 1px;
}
@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
#list-feature-jobs .box_general .feature-job-item {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin: 10px 0 6px;
    padding: 12px;
    position: relative;
}
.cvo-flex {
    display: flex;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.box-company-logo {
    align-items: center;
    border-radius: 7px;
    display: flex;
    height: 88px;
    position: relative;
    width: 90px;
    margin-right: 10px;
}
#list-feature-jobs .box_general .feature-job-item .col-title {
    box-sizing: border-box;
    min-height: 44px;
    overflow: hidden !important;
    padding-left: 12px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.cvo-flex-grow {
    flex-grow: 1;
}
#list-feature-jobs .box_general .feature-job-item .col-title h3 {
    margin: 0;
}

.h4, h4 {
    font-size: 20px;
}


#list-feature-jobs .box_general .feature-job-item .title {
    margin-bottom: 3px;
}
.company_name {
    color: #6f7882;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}
#list-feature-jobs .box_general .feature-job-item .box-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 8px;
}
.salary {
    background: #f4f5f5;
    border-radius: 4px;
    color: #212f3f;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
}
.like {
    background: white;
    border-radius: 4px;
    color: #212f3f;
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 4px 8px;
}
#list-feature-jobs .box_general .feature-job-item .col-title .text_ellipsis {
    color: #212f3f;
    display: block;
    width: 100%;
}
.text_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}
#list-feature-jobs .save-job {
    background: 0 0 !important;
    border: none !important;
    color: #bcc1c5;
}
.rectangle {
    width: 100%; 
    background-color: #f3f5f7; 
  height:100%
}

.row {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px; 
}

.small-rectangle {
    flex-grow: 1; 
    height: 100px; 
    background-color: white; 
    margin: 0 5px; 
}

.avatar {
    align-items: center;
    background: #fff;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 2px;
    width: 100%;
}
.job_title{
    /* font-family:'Times New Roman', Times, serif; */
    font-size: 13px;
}
.job_title:hover{
    color:#00b14f;
    text-decoration:underline;
}
#list-feature-jobs .box_general .feature-job-page {
    margin-top: 10px;
}

#list-feature-jobs .box_general .feature-job-page {
    margin: 6px auto 0;
    width: 100%;
}
#list-feature-jobs .box_general .feature-job-page .content {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}
#list-feature-jobs .box_general .feature-job-page__text {
    color: #a6acb2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
#list-feature-jobs .box_general .feature-job-page__text .slick-pagination {
    margin: 0;
}
#list-feature-jobs .box_general .feature-job-page__text .slick-pagination .hight-light {
    color: #00b14f;
}
.top-company {
    background: #fff;
    imagfont-family:"Inter", sans-serif;
    padding: 24px 0 0;
}
.top-company .container {
    padding-bottom: 0;
    padding-top: 0;
}
.top-company__header {
    display: flex;
}
.top-company__title {
    color: #00b14f;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
}
.top-company__navigation {
    margin-left: auto;
    display: flex;
}
.top-company .btn-slick-arrow {
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 1px solid #00b14f;
    border-radius: 50%;
    color: #00b14f !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 32px; 
}
.top-company .btn-slick-arrow:hover{
    background-color: #00b14f !important;
}
.top-company .slick-list {
    margin: 0 -10px;
}

element.style {
    width: 386px;
}
@media screen and (min-width: 768px) {
    #section-center-banners .slick-banners .slick-track .center-banner-item {
        padding: 0 8px;
    }
}
.slick-initialized .slick-slide {
    display: block;
}
a {
    background-color: transparent;
}
#suggest-job-section {
    position: relative;
}
#suggest-job-section #arrow {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
img {
    vertical-align: middle;
    border: 0;
}
#job-suggest-list .slick-list {
    margin: 0 -10px;
    padding-top: 6px;
}
#job-suggest-list .slick-slide {
    margin: 0 10px;
}

.slick-initialized .slick-slide {
    display: block;
}
#job-suggest-list .wrap-item {
    background: #fff;
    border: 1px solid #dee0e2;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    padding: 12px;
    position: relative;
}
#job-suggest-list .wrap-item .box-company-logo {
    border-radius: 8px;
    height: 120px;
    padding: 2px;
    position: relative;
    width: 120px;
    margin-right: 10px;
}
#job-suggest-list .wrap-item .box-company-logo .avatar {
    background: #fff;
    border: 1px solid #e9eaec;
    border-radius: 6px;
    display: flex;
    height: 120px;
    overflow: hidden;
    padding: 6px;
    width: 120px;
}
#job-suggest-list .wrap-item .box-company-logo .avatar img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.slick-slide img {
    display: block;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
#job-suggest-list .wrap-item .info-job {
    flex: 1 auto;
    width: 0;
}
#job-suggest-list .wrap-item .info-job .info-job-header {
    display: flex;
    justify-content: space-between;
}
#job-suggest-list .wrap-item .info-job .title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 50px;
    margin: 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#job-suggest-list .wrap-item .info-job a {
    color: unset;
    text-decoration: unset;
}
.icon-verified-employer {
    font-size: 16px;
}
.transform-job-title{
    font-family:"Inter", sans-serif;
    font-size: 16px;
}
#job-suggest-list .wrap-item .info-job .info-job-header .salary {
    background: 0 0;
    color: #00b14f;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
    padding: 0;
}
#job-suggest-list .wrap-item .info-job .salary label {
    color: #00b14f;
    imagfont-family:"Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: 0 !important;
}
#job-suggest-list .wrap-item .info-job .company {
    display: block;
    height: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}
#job-suggest-list .wrap-item .info-job .address i, #job-suggest-list .wrap-item .info-job .company i, #job-suggest-list .wrap-item .info-job .time i, #job-suggest-list .wrap-item .info-job .title i {
    text-align: left !important;
    width: 16px;
}

.fa-regular, .far {
    font-family: Font Awesome\ 6 Pro;
    font-weight: 400;
}
#job-suggest-list .wrap-item .info-job .wrap-update-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#job-suggest-list .wrap-item .info-job .address {
    margin-bottom: 0;
        font-size: 14px;
        color: #6f7882;
        margin-top: 5px;
        margin-left: -2px;
    
}

#job-suggest-list .wrap-item .info-job .address, #job-suggest-list .wrap-item .info-job .time {
    height: 20px;
}
#job-suggest-list .icon {
    display: flex;
    gap: 6px;
}
#job-suggest-list .icon .btn-remove-job-recommend {
    align-items: center;
    background: #fceaea;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    padding: 2px;
    width: 28px;
}
#job-suggest-list .icon .btn-save-job {
    align-items: center;
    background: #e5f7ed;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 28px;
    justify-content: center;
    padding: 2px;
    width: 28px;
}
.ovf-x-hidden {
    overflow-x: hidden;
    margin-top: 20px;
}
section#flash-badge-banner {
    background: url(/src/pages/images/cover.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    imagfont-family:"Inter", sans-serif;
    margin-top: 57px;
    min-height: 448px;
    position: relative;
    width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
section#flash-badge-banner:before {
    background: linear-gradient(180deg, rgba(1, 26, 16, .288) 20.98%, rgba(16, 103, 67, 0) 50.09%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
section#flash-badge-banner .container {
    padding-top: 52px;
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
section#flash-badge-banner .block-content {
    align-items: flex-start;
    -moz-column-gap: 48px;
    column-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}
section#flash-badge-banner .block-content .block-left {
    max-width: 525px;
}
section#flash-badge-banner .block-content .banner-title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 12px;
}

section#flash-badge-banner h1, section#flash-badge-banner h2, section#flash-badge-banner h3 {
    margin: 0;
}
section#flash-badge-banner .block-content .banner-subtitle {
    color: #f2fbf6;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
}
section#flash-badge-banner .block-content .number-flash-jobs {
    align-items: center;
    background: linear-gradient(90deg, #06a76a 3.77%, rgba(6, 167, 106, 0) 105.36%);
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 46.31px;
    line-height: 16px;
    margin-bottom: 32px;
    opacity: 0;
    padding-left: 17.75px;
}
section#flash-badge-banner .block-content .number-flash-jobs span:first-child {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-right: 9.26px;
}
section#flash-badge-banner .block-content .box-countdown-update-title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5.5px;
    line-height: 20px;
    margin-bottom: 21px;
    text-align: justify;
    text-transform: uppercase;
}
section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock {
    align-items: center;
    -moz-column-gap: 13px;
    column-gap: 13px;
    display: flex;
}
section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock .box-countdown-value {
    align-items: center;
    background: linear-gradient(180deg, #06a76a, rgba(6, 167, 106, 0));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 68px;
}
section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock .box-countdown-value .value {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 37px;
    margin-bottom: 1px;
    margin-top: 7.32px;
    text-align: center;
}
section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock .box-countdown-value .unit {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .285px;
    line-height: 13px;
}
section#flash-badge-banner .block-content .box-countdown-update .box-countdown-clock .dot-divider {
    background: linear-gradient(135deg, #fff, #fff 33.55%, #fff 68.97%, #fff);
    border-radius: 100px;
    height: 8px;
    width: 8px;
}
section#flash-badge-banner .block-job {
    height: 372px;
    max-height: 372px;
    position: relative;
}
section#flash-badge-banner .block-job #pushTopIcon {
    display: none;
    position: absolute;
    right: 8px;
    top: 2px;
    z-index: 1;
}
section#flash-badge-banner .block-job #pushTopIcon img {
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    width: 24px;
}
section#flash-badge-banner .block-job #sliderNewFlashJobPublish {
    height: 376px;
    margin-top: -9px;
    max-height: 376px;
    max-width: 276px;
    opacity: 0;
    overflow-y: hidden;
    padding-top: 4px;
    position: relative;
    transition: .5s;
}
section#flash-badge-banner .block-job #sliderNewFlashJobPublish .job-item:not(:last-child) {
    margin-bottom: 12px;
}

section#flash-badge-banner .block-job .job-item.active {
    display: flex;
    height: 84px;
}
section#flash-badge-banner .block-job .job-item__logo {
    align-items: center;
    background: linear-gradient(201.63deg, #003e86 14.36%, #02d15e 95.71%);
    border-radius: 4px;
    display: flex;
    height: 48px;
    justify-content: center;
    min-height: 48px;
    min-width: 46px;
    overflow: hidden;
    padding: 3px;
    width: 48px;
    margin-left: 6px;
    margin-top: 6px;
}

section#flash-badge-banner a, section#flash-badge-banner a:focus, section#flash-badge-banner a:hover {
    text-decoration: none;
}
section#flash-badge-banner .block-job .job-item__logo img {
    background-color: #fff;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}
.tag-job-flash {
    left: 1px;
    position: absolute;
    top: -8px;
}
.tag-job-flash img {
    height: 29px;
    width: 20.62px;
}

img {
    vertical-align: middle;
    border: 0;
}
section#flash-badge-banner .block-job .job-item__link {
    imagfont-family:"Inter", sans-serif;
}

section#flash-badge-banner a, section#flash-badge-banner a:focus, section#flash-badge-banner a:hover {
    text-decoration: none;
}
section#flash-badge-banner .block-job .job-item__title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #212f3f;
    display: -webkit-box;
    imagfont-family:"Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
    margin: 0 0 10px;
}
section#flash-badge-banner .block-job .job-item__company, section#flash-badge-banner .block-job .job-item__location {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #6f7882;
    display: -webkit-box;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
section#flash-badge-banner .block-intro {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -52px;
    top: -48px;
    z-index: 1;
}
section#flash-badge-banner .block-intro .block-intro-image {
    margin-bottom: 48px;
}
section#flash-badge-banner .block-intro .block-intro-image img {
    filter: drop-shadow(0 2.44297px 64.1279px rgba(146, 255, 178, .4));
    height: 280.14px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    transform: rotate(-16.25deg);
    width: 332.27px;
}
section#flash-badge-banner .block-intro .block-intro-flashjob-list {
    margin-left: 20px;
}
section#flash-badge-banner .block-intro .block-intro-flashjob-list .title {
    color: #f2fbf6;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 12px;
    text-align: center;
    width: 220px;
}
section#flash-badge-banner .block-intro .block-intro-flashjob-list .btn-watchnow {
    align-items: center;
    background: #07a76b;
    border-radius: 6px;
    color: #fff;
    -moz-column-gap: 8.18px;
    column-gap: 8.18px;
    display: flex;
    font-size: 13.9018px;
    font-weight: 600;
    height: 40.33px;
    justify-content: center;
    line-height: 21px;
    transition: background .15s ease-in;
    width: 219.82px;
}

section#flash-badge-banner a, section#flash-badge-banner a:focus, section#flash-badge-banner a:hover {
    text-decoration: none;
}
.top-category__header {
    align-items: center;
    display: flex;
    padding-bottom: 18px;
    padding-top: 24px;
}
.top-category__title {
    color: #00b14f;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 4px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
#top-category-carousel .owl-stage-outer {
    margin: 0 -20px;
    padding: 3px 20px;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.top-category__body .col-md-3 {
    padding-left: 12px;
    padding-right: 12px;
}
@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
.top-category--item {
    align-items: center;
    background: #f3f5f7;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    padding: 23px;
    text-align: center;
    transition: .3s;
}
.top-category__image {
    height: 100px;
    width: 100px;
}
.top-category__image a {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

a {
    background-color: transparent;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.top-category__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.top-category__name a {
    color: #212f3f;
}
.top-category__caption {
    color: #00b14f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}
.top-category--item:hover {
    background: #fff;
    border-color: #33c172;
    box-shadow: 0 10px 30px rgba(14, 166, 59, .2);
    cursor: pointer;
    outline: 0 10px 30px rgba(14, 166, 59, .2);
}
.diamond-employer {
    font-family:"Inter", sans-serif;
    margin-bottom: 0;
}
.diamond-employer__header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.diamond-employer__title {
    color: #00b14f;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 0;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}
.diamond-employer__body {
    align-items: center;
    display: flex;
    justify-items: center;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
.diamond-employer--box {
    align-items: center;
    background: #fff;
    border: 1px solid #dee0e2;
    border-radius: 10px;
    display: flex;
    height: 204px;
    justify-items: center;
    margin-bottom: 24px;
    padding: 18px;
    position: relative;
    width: 218px;
}
.icon--top {
    align-items: center;
    background: #00b14f;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: Inter, sans-serif;
    font-size: 12px;
    gap: 2px;
    height: 20px;
    justify-content: center;
    left: 12px;
    line-height: 16px;
    padding: 2px 6px 2px 4px;
    position: absolute;
    text-transform: uppercase;
    top: 12px;
    width: 53px;
}
.diamond-employer--box img {
    max-height: 110px !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;
    width: 100% !important;
}
.carousel-company li.react-multi-carousel-item.carousel-item-padding-40-px{
    flex: 1 1 auto !important;
    position: relative !important;
    width: 234px !important;
}
.hotline{
    background: url(/src/pages/images/cover.webp);
    background-size: cover;
    font-family: Inter,sans-serif;
    font-style: normal;
    min-height: 480px;
    padding-bottom: 64.5px;
    padding-top: 50px;
    margin-top: 30px;
}
.hotline__title{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 10px;
}
.hotline__tab .nav{
    display: flex;
    margin-bottom: -5px;
}
.hotline__tab .nav__item{
    border-radius: 10px 3px 0 0;
    font-size: 16px;
    font-weight: 700;
    height: 57px;
    line-height: 24px;
    position: relative;
    width: 300px;
}
.hotline__tab .nav__item.active a{
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMzE1JyBoZWlnaHQ9JzU3JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00yOTkuNSA1Ni45NUgwdi00NmMwLTUuNTIzIDQuNDc3LTEwIDEwLTEwaDIxMC44ODJhNDAgNDAgMCAwIDEgMjYuNDU3IDEwbDM5Ljg1OCAzNS4xNSAzLjM1IDIuNTUyYTM2IDM2IDAgMCAwIDE1LjU2MSA2LjgxNmw4LjM5MiAxLjQ4MWgtMTUuMDAxLjAwMVonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
    color: #00b14f;
    z-index: 2;
}

element.style {
}
.hotline__tab .nav__item.active a {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMzE1JyBoZWlnaHQ9JzU3JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00yOTkuNSA1Ni45NUgwdi00NmMwLTUuNTIzIDQuNDc3LTEwIDEwLTEwaDIxMC44ODJhNDAgNDAgMCAwIDEgMjYuNDU3IDEwbDM5Ljg1OCAzNS4xNSAzLjM1IDIuNTUyYTM2IDM2IDAgMCAwIDE1LjU2MSA2LjgxNmw4LjM5MiAxLjQ4MWgtMTUuMDAxLjAwMVonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
    color: #00b14f;
    z-index: 2;
}
.hotline__tab .nav__item a {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMzE1JyBoZWlnaHQ9JzU3JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00yOTkuNSA1Ni45NUgwdi00NmMwLTUuNTIzIDQuNDc3LTEwIDEwLTEwaDIxMC44ODJhNDAgNDAgMCAwIDEgMjYuNDU3IDEwbDM5Ljg1OCAzNS4xNSAzLjM1IDIuNTUyYTM2IDM2IDAgMCAwIDE1LjU2MSA2LjgxNmw4LjM5MiAxLjQ4MWgtMTUuMDAxLjAwMVonIGZpbGw9JyNERUUwRTInLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 315px 57px;
    color: #a6acb2;
    display: block;
    height: 57px;
    padding-left: 32px;
    padding-top: 20px;
    width: 315px;
}
.hotline__tab .nav__item:not(:first-child) a{
    left: -32px;
}
.hotline__tab .tab-content {
    border-radius: 0 20px 20px 20px;
}
.hotline__tab .tab-content .tab-pane.for-candiate {
    background: linear-gradient(90deg, #fff -9.59%, #fff 37.78%, #deffea);
    border-radius: 0 20px 20px 20px;
    padding: 20px 40px;
}

.tab-content>.active {
    display: block;
}
.hotline__tab .tab-content .tab-pane .tab-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
@media screen and (min-width: 1200px) {
    .hotline__tab .tab-content .tab-pane.for-candiate .hotline-text {
        width: 45%;
    }
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    padding: 2px 0 0;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline h2 .first-half {
    color: #212f3f;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline h2 .second-half {
    color: #00b14f;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-panel {
    align-items: center;
    background: linear-gradient(90deg, #047e3c, #13c964);
    border-radius: 32.0583px;
    box-shadow: 0 6.01093px 20px rgba(0, 0, 0, .06);
    display: flex;
    height: 64.08px;
    margin-top: 28px;
    width: 404.18px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-panel .phone-number {
    color: #f8fefa;
    font-size: 20px;
    font-weight: 600;
    padding: 0 40.07px 0 24.04px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-panel .btn-call {
    align-items: center;
    background: #e9eaec;
    border-radius: 24.0437px;
    display: flex;
    height: 48.05px;
    justify-items: center;
    padding: 10px 28px 10px 28.98px;
    transition: background .2s ease-out;
    width: 167.05px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-panel .text-call {
    color: #00b14f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-email {
    align-items: center;
    display: flex;
    margin-top: 15px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-email__title {
    color: #4d5965;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-right: 17px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-email__content {
    align-items: center;
    display: flex;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-email__content--icon {
    align-items: center;
    background: rgba(0, 177, 79, .07);
    border-radius: 16px;
    display: flex;
    height: 28px;
    justify-content: center;
    margin-right: 8px;
    padding: 6px;
    width: 28px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .box-hotline .box-email__content a {
    color: #00b14f;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.hotline__tab .tab-content .tab-pane.for-candiate .hotline-image {
    height: 275px;
    margin-bottom: -20px;
    margin-left: 50px;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
@media screen and (min-width: 1200px) {
    #section-box-seo {
        font-family: Inter, sans-serif;
        padding: 60px 0 40px;
    }
}
#section-box-seo #seo-box {
    padding: 0;
}
b, strong {
    font-weight: 700;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.text-seo{
    font-family:"Inter", sans-serif;
    margin-bottom: 10px;
}
.text-seo.normal-text{
    font-size: 15px;
    font-family: fangsong;
    color: #333339;
    font-weight: lighter;
}
.content-seo-box{
    font-size: 16px;
}
li.text-seo.normal-text{
    margin-left: 40px;
}
#section-box-seo .box-seo-categories .title-box {
    color: #212f3f;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}
@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left;
    }
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (min-width: 992px) {
    #section-box-seo .box-seo-categories .box_general {
        margin-bottom: 0;
    }
}

#section-box-seo .box-seo-categories .box_general {
    background: #f3f5f7 !important;
    border-radius: 10px !important;
    margin-bottom: 22px !important;
    padding: 20px !important;
}
#section-box-seo .box-seo-categories .box_general h3 {
    color: #212f3f;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 8px;
}
.text_ellipsis {
    font-family: "Inter", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
#section-box-seo .box-seo-categories .box_general .container-scroll {
    height: 378px;
    margin-right: -15px;
    overflow-y: scroll;
}
#section-box-seo .box-seo-categories .box_general .list-item {
    border-bottom: 1px solid #e9eaec;
    color: #212f3f;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 15px;
    padding: 11px 0;
    transition: .3s;
}

.el2>.list-item {
    border: none;
    display: block;
    line-height: 1.5;
    list-style: none;
    margin: auto;
    padding: 2px 24px;
}
.container-box {
    background-color: #f3f5f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.job-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px; 
    overflow-y: auto; 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 11px;
}

.job-list li {
    margin: 8px 0;
}

.job-list a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.job-list a:hover {
    color: #00b14f;
}

.job-list::-webkit-scrollbar {
    width: 8px;
}

.job-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.job-list::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.job-list li {
    border-bottom: 1px solid #d4d6da;
}
.box-smart-item{
    font-weight: lighter;
    font-size: 14px;
    padding: 7px;
}
#list-feature-jobs .box_general .box-filter .box-smart-filter .box-smart-location .box-smart-list-location .box-smart-item {
    margin: 11px !important;
    font-size: 12px !important;
    color: black;
    font-weight: 300;
}